<section class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom">
<h1>Transactions</h1>
</div>
<div id="app" class="d-flex mvh-100 flex-wrap">
    <div class="test" style="background: linear-gradient(to right,#fe9365,#feb798);">
    <div class=" align-items-center border-bottom">
        Good Issue to Order (261)
    </div>
</div>
    <div class="test" style="background: linear-gradient(to right,#fe5d70,#fe909d)"></div>
    <div class="test" style="background: linear-gradient(to right,#01a9ac,#01dbdf);"></div>
    <div class="test" style="background: linear-gradient(to right,#0ac282,#0df3a3)"></div>
</div>

</section>


